.carrito{
    padding: 5rem;
    .titulo{
        font-family: 'Lobster', cursive;
        font-size: 1.5rem;
    }
    .prod{
        font-family: 'Roboto Flex', sans-serif;
        font-size: 1rem;
        margin-top: 1.5rem;
    }
}