.carrito{
    padding: 5rem;
    margin: 0 25rem;
    background-color: #f9f9f9;
    margin-top: 5rem;
    border-radius: 5rem;
    .titulo{
        font-family: 'Lobster', cursive;
        font-size: 1.5rem;
        text-align: center;
    }
    .prod{
        font-family: 'Roboto Flex', sans-serif;
        font-size: 1rem;
        margin-top: 1.5rem;
        text-align: center;
    }
    .trash{
        margin-top: 1.4rem;
        cursor: pointer
    }
    .total{
        font-family: 'Lobster', cursive;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 10rem;
    }
    .btn-cart{
        width: 30%;
        margin: 0 auto;
        padding: 8px 16px;
        margin-top: 1rem;
        border: 1px solid #000;
        border-radius: 5px;
        display: block;
        color: #fff !important;
        background-color: #000;
        font-family: 'Lobster', cursive;
        font-size: 1.7rem;
        &:hover {
            background-color: rgba(51, 51, 51, 0.815);
            border: none;
            transform: scale(1.1);
            transition: 0.3s;
        }
    }
}