.navBar{
    background: linear-gradient(0deg, #f9f9f9 0%, #a8a8a8 100%);
    .brand{
        font-family: 'Lobster', cursive;
        font-size: 2rem;
        text-decoration: none;
        color: #333;
    }
    .nav{
        margin-left: 2rem;
    }
    .links{
        font-family: 'Roboto Flex', sans-serif;
        padding-bottom: 2px;
        height: 2.5rem;
        text-decoration: none;
        color: #333;
        margin: 28px 18px 0 20px;
        &:hover{
            border-bottom: 2px solid #333;
        }
    }  
}



